---
---

@import "{{ site.theme }}";

.project-name {
  margin-top: 2rem;
}

.page-header {
  background-image: url(https://raw.githubusercontent.com/naokipeter/naokipeter.github.io/master/assets/zurich.jpg);
  background-position: center 60%;
  background-size: cover;
}

.avatar {
  margin: 1em 0 1em 1em
}

.svg-icon {
  position: relative;
  top: 1px;
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #606c71;
}

ul.social-media-list {
  list-style-type: none;
  padding-left: 0;

  li + li {
    padding-top: 5px;
  }
}

a {
  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

footer {
  display: none;
}

