---
---

@import "{{ site.theme }}";

.project-name {
    margin-top: 2rem;
}

.page-header {
    background-image: url(https://raw.githubusercontent.com/naokipeter/naokipeter.github.io/master/assets/zurich.jpg);
    background-position: center 60%;
    background-size: cover;
}

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #606c71;
    padding-right: 5px;
    vertical-align: text-top;
}
